@model Movies_Management_System.Models.GenreDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Genre?</h2>
<a href="/Genre/List">Cancel</a>
<p>Genre ID: @Model.GenreID</p>
<h3>Genre Name: @Model.GenreName</h3>

<form action="/Genre/Delete/@Model.GenreID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>