@{
    ViewBag.Title = "Create";
}

<h2>Create Genre</h2>
<form action="/Genre/Create" method="POST">
    <div>
        <label>Genre Name:</label> <input type="text" name="GenreName" />
    </div>

    <div>
        <input type="submit" value="Create Genre" />

    </div>
</form>