@model Movies_Management_System.Models.ClientDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h1>Movies Management System</h1>
<h2>Are you sure you want to delete client <strong>'@Model.ClientName'</strong>?</h2>

<table id="ClientListTable">
    <tr>
        <th id="thID">Client ID</th>
        <th id="thClientName">Client Name</th>
        <th id="thClientLocation">Client Location</th>
    </tr>
    <tr>
        <td id="tdID"><a href="/Client/Details/@Model.ClientID">@Model.ClientID</a></td>
        <td id="tdClientName"><a href="/Client/Details/@Model.ClientID">@Model.ClientName</a></td>
        <td id="tdClientLocation"><a href="/Client/Details/@Model.ClientID">@Model.ClientLocation</a></td>
    </tr>
</table>

<div id="btnContainer">
    <div>
        <a href="/Client/List" id="backbtn">Cancel</a>
    </div>
    <div>
        <form action="/Client/Delete/@Model.ClientID" method="POST">
            <input type="submit" value="Confirm Delete" id="delBtn" />
        </form>
    </div>
</div>

<style>
    body {
        text-align: center;
    }
    h1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold 700;
        margin-top: 2em;
        margin-bottom: 0;
    }
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold 400;
        margin: 1em auto;
    }
    #ClientListTable {
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        width: 60%;
    }
    #thID, #tdID {
        width: 100px;
        text-align: center;
    }
    #thClientName, #tdClientName {
        width: 340px;
        text-align: center;
    }

    #thClientLocation, #tdClientLocation {
        width: 240px;
        text-align: center;
    }

    th, td {
        border: 1px solid black;
    }
    #btnContainer {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: center;
    }

    #delBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em;
        color: red;
    }

    #backbtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        margin-right: 4em;
        padding: 0.64em;
        color: blue;
    }
</style>