@{
    ViewBag.Title = "Create";
}

<h1>Movies Management System</h1>
<h3>Create Client</h3>


<form action="/Client/Create" method="POST">
    <div class="addInput">
        <label>Client Name:</label> <input type="text" name="ClientName" />
    </div>
    <div class="addInput">
        <label>Client Location:</label> <input type="text" name="ClientLocation" />
    </div>
    <div id="btnContainer">
        <div>
            <input type="submit" value="Create Client" id="addBtn" />
        </div>
        <div>
            <a id="backbtn" href="/Client/List">Back to List</a>
        </div>
    </div>
</form>


<style>
    body {
        text-align: center;
    }
    #addBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em;
        color: green;
    }
    #backbtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        margin-left:4em;
        padding: 0.66em;
        color: blue;
    }
    .addInput {
        margin-top:1em;
    }
    #btnContainer{
        display:flex;
        flex-flow:row;
        align-items:baseline;
        justify-content:center;
    }
</style>