@{
    ViewBag.Title = "Home Page";
}


<div id="head">
    <h2>Welcome to the Movies Management System</h2>
    <p>Manage your own movie collections</p>
    <a href="#movies" class="btn btnST">GET STARTED</a>
</div>
<div id="movies">
    <div class="grid">
        <div class="card">
            <img src="~/Content/Images/poster1.jpg" alt="Movie Poster" height="400">
            <h3>Movies</h3>
            <a href="/Movie/List" class="btn btnLink">More Info</a>
        </div>
        <div class="card">
            <img src="~/Content/Images/poster2.jpg" alt="Movie Poster" height="400">
            <h3>Genres</h3>
            <a href="/Genre/List" class="btn btnLink">More Info</a>
        </div>
        <div class="card">
            <img src="~/Content/Images/poster3.jpg" alt="Movie Poster" height="400">
            <h3>Clients</h3>
            <a href="/Client/List" class="btn btnLink">More Info</a>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2023 - Wenhao(Kevin) Lu at Humber HTTP5212</p>
</footer>


<style>
    body {
        font-family: 'Helvetica Neue', sans-serif;
        margin: 0;
    }

    #head {
        background-image: url(/Content/Images/backgroundIMG.jpg);
        background-size: cover;
        background-position: center;
        height: 540px;
    }
     
    #head h2 {
        font-size: 36px;
        font-weight: 700;
        text-shadow: 2px 2px #333;
        margin: 0;
        padding-top: 1.2em;
        padding-left: 0.8em;
        color: azure;
    }

    #head p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 50px;
        text-shadow: 1px 1px #333;
        color: azure;
        padding-top: 1.2em;
        padding-left: 1.3em;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        transition: all 0.2s ease-in-out;
    }

    .btnST {
        background-color: #f44336;
        color: white;
        margin-left: 1.5em;
    }

    .btnST:hover {
        background-color: #e53935;
    }

    .btnLink {
        background-color: #333;
        color: white;
    }

    .btnLink:hover {
            background-color: #222;
    }

    #movies {
        background-color: #f5f5f5;
        padding: 50px;
    }

    #movies h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .card {
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px #ccc;
        padding: 20px;
        text-align: center;
    }

    .card img {
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card h3 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
    }

    .card p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .card a {
        display: inline-block;
        margin-top: 20px;
    }

    footer {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
    }

    footer p {
        font-size: 10px;
        font-weight: 200;
    }

</style>

